.form {
  margin-top: 1rem;
}
.form .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}
button {
  margin: 1rem;
}

input {
  border-radius: .2rem;
}

 button {
  width: 4rem;
  height: 2rem;
  font-size: 1rem;
}

button:hover {
  background-color: whitesmoke;
}